<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>348626277481-7tatklltdqrmof1intutrsg2le70qrj9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.348626277481-7tatklltdqrmof1intutrsg2le70qrj9</string>
	<key>API_KEY</key>
	<string>AIzaSyCAOyTR3y5XJIQF9Wksdt1TMgqG2hGXmkM</string>
	<key>GCM_SENDER_ID</key>
	<string>348626277481</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.threadsClone</string>
	<key>PROJECT_ID</key>
	<string>threads-f6d12</string>
	<key>STORAGE_BUCKET</key>
	<string>threads-f6d12.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:348626277481:ios:6797dc6069b5ffe3903ef8</string>
</dict>
</plist>